/* Éléments globaux */
body {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	text-align: center;
}

#polytech {
	width: 150px;
}

main {
	width: 90%;
	margin: 10px auto;
	border: solid 1px black;
}

header {
	background-color: #daefee;
	border-bottom: solid 1px black;
}

section {
	background-color: #ffddf7;
	padding: 1px 60px 40px 20px;
}

footer {
	background-color: #daefee;
	border-top: solid 1px black;
}

/* Éléments de la page */
#menu a{
	text-decoration:none;
}

ul#lemenu{
	list-style: none;
}

ul#lemenu li{
	display: inline;
}

.btn_menu {
	width: 100px;
	height: 30px;
	display: inline-table;
	font-size:12px;
	color: black;
	border: 1px solid #40AAD4;
	background-color: #daefee;
}

.dc {
	background-color: #ffa8a8;
	border: 1px solid #ba7878;
}

.btn_menu:hover {
	background-color:#ffab23;
}

.encours, .encours:hover {
  	background-color: #B3FF99;
}

#contenu {
	text-align: none;
}

#messagePHP {
	color: red;
	font-size: 12px;
	margin: auto;
	padding: 2px;
	width: 50%;
	background-color: white;
	border: solid 1px green;
} 

textarea {
    border-radius: 5px;
    border: 1px solid black;
    width: 60%;
    height: 180px;
}

input {
	width: 60%;
}
